.card {
    height: 360px;
    flex: 0 0 360px;
    margin: 10px;
    display: flex;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 100%;
}

.container::-webkit-scrollbar {
    display: none;
}

.fab-button {
    position: fixed;
    right: 32px;
    bottom: 96px;
    z-index: 999;
}